* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  background-color: #DDE0E3;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px solid #5D603; */
  /* border: 8px solid rgb(25, 39, 121); */
  border-bottom: 8px solid rgb(25, 39, 121);
  border-left: 8px solid rgb(25, 39, 121);
}

em, strong {
  background-color: #B2D6FF;
  margin: 50px;
  padding: 50px;
  display: block;
  /* display: inline; */
}

p {
  padding: 20px 0px 20px 10px;
  /* margin: 100px 25px 25px 25px; */
  margin-top: 49px;
  margin-bottom: 50px;
}

body {
  text-align: center;
}

div {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 5px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;
}

/* It's usually a good idea to override default style to a predictable value
using the "universal" CSS selector (*). Try adding this to the top of our
box-styles.css file. */

/* The padding of a box has a background, while are always transparent. */
/* Padding is included in the click area of an element, while margins aren't. */
/* Margins collapse vertically, while padding doesn't (we'll discuss this more in the next section). */
